{
  "presets": [
      "next/babel"
  ],
  "plugins": [
      [
          "babel-plugin-styled-components",
          {
              "fileName": true,
              "displayName": true,
              "pure": true
          }
      ]
  ]
}

// nextJs 에서 styled-components 쓸때 Prop className did not match 오류 해결하기위해서 작성.
// https://styled-components.com/docs/tooling에서 일단 설치.